@media screen and (max-width: 900px) {
  #info-container {
    display: none;
    /* float: none;
    width: 100%; */
  }
}

html {
    background: rgb(29, 27, 27);
    height: 100%;
    margin: auto;
}

main {
    /* background-color: rgb(54, 48, 48); */
    display: flex;
    padding: 30px;
    /* margin: auto; */
    /* width: 100%; */
    /* height: 100%; */
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
}

#defaultCanvas0 {
    margin: auto;
    border: 3px solid burlywood;
    border-radius: 3px;
}

#info-container {
    margin-top: 30px;
    margin-left: 30px;
    /* padding: 30px; */
    box-sizing: border-box;
    border: 3px solid burlywood;
    border-radius: 3px;
    width: 20%;
    height: 541px;
    text-align: center;
    background: lightblue;
    align-content: flex-start;
    overflow: scroll;
}

.pupout-title {
    display: flex;
    justify-content: center;
    padding: 2px;
    font-size: 40px;
    color: rgb(43, 43, 167);
}

#mute-music {
    outline: none;
    color: gray;
    padding: 5px;
}

.muted {
    text-decoration: line-through;
}

#mute-music:hover {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.fa-linkedin-in {
    color: cornflowerblue;
    font-size: 30px;
}

.fa-linkedin-in:hover {
    color: rgb(49, 49, 196);
}

.fa-github {
    font-size: 30px;
}

.fa-github:hover {
    color: gray;
}

.objective {
    font-size: 20px;
    color: rgb(43, 43, 167);
}

.dropbtn {
    border-radius: 3px;
    background: transparent;
    color: black;
    padding: 3px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Attribution dropdown */
.dropdown {
    padding-top: 20px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(58, 64, 66);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    border-radius: 3px;
    display: block;
    left: -58px;
    bottom: 25px;
}

.dropdown:hover .dropbtn {
    color: white;
}

/* Highscores and Pupout tabs */
.tab-links {
    display: flex;
    overflow: hidden;
}

.tab-btn {
    background: rgb(29, 27, 27);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    transition: 0.5s;
    border-bottom: 3px solid burlywood;
}

.tab-btn:hover {
    background: transparent;
    border: none;
}

.tab-btn.active {
    background: lightblue;
    border: none;
    color: black;
}

.tabs-info {
    padding: 10px;
    animation: fadeEffect 1s;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
}

.highscore-form {
    padding: 5px;
    border-bottom: 1px solid burlywood;
    margin-bottom: 10px;
    /* display: none; */
}

#input-text {
    border: 1px solid black;
    border-radius: 3px;
    width: 55%;
    background: lightgray;
}

#input-text:focus {
    background: white;
}

.submit-container {
    display: flex;
}

.submit-btn {
    border: 1px solid black;
    border-radius: 3px;
    background: lightgray;
}

.submit-btn:hover {
    background: burlywood;
}

#start-game {
    color: green;
}