html {
    background: rgb(29, 27, 27);
    height: 100%;
    margin: auto;
}

main {
    /* background-color: rgb(54, 48, 48); */
    display: flex;
    padding: 30px;
    /* margin: auto; */
    /* width: 100%; */
    /* height: 100%; */
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
}

#defaultCanvas0 {
    margin: auto;
    border: 3px solid burlywood;
    border-radius: 3px;
}

.info-container {
    margin-top: 30px;
    margin-left: 30px;
    /* margin-right: auto; */
    padding: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    border: 3px solid burlywood;
    border-radius: 3px;
    /* min-width: 200px; */
    width: 20%;
    height: 559px;
    /* margin: auto; */
    text-align: center;
    background: lightblue;
    align-content: flex-start;
}

.barkanoid-title {
    margin: auto;
    font-size: 40px;
    color: rgb(43, 43, 167);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.fa-linkedin-in {
    color: cornflowerblue;
    font-size: 30px;
}

.fa-linkedin-in:hover {
    color: rgb(49, 49, 196);
}

.fa-github {
    font-size: 30px;
}

.fa-github:hover {
    color: gray;
}